@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 40px auto;
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

img {
    max-width: 600px;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1.2
}
